body{
	background-image:url(images/tumblr_n6eszmeQMR1st5lhmo1_1280.jpg);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}
.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}
h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}
h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}